@charset "UTF-8";

body{
	margin:0px;	text-align:center;
}

header, main{
	 width:600px; margin:0 auto;
}


#pink{
	height:80px;
	width:680px;
	background-color:pink;
}

#pink>#txt{
	border:1px solid gray;
	font-size:2em;
	background-color:white;
}

main>img{
	width:680px; height:300px;
}

